<ion-header>
  <ion-toolbar >
    <ion-buttons class="title"slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Frequently Asked Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="payimg">
    <img src="assets/faq.png">
  
    <div class="tit">
    <p align="middle">Frequently Asked Questions</p> 
  </div>
  </div>
<ion-card>
<ion-card-content>
  <b>Q)What is Mv-Insurance about?</b>
  <br>
A)It is an insurance app that helps motorvehicle owners to take an insurance cover using their mobile phone.
<br><br>
<b>Q)Who can use Mv-insurance?</b>
<br>
A)Any person with a mobile phone can use it to get an insurance cover.
<br>
</ion-card-content>
</ion-card>
</ion-content>
