<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>vehsel</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header >
  <!-- <ion-toolbar  style = "background-color: #1e81cf"> -->
    <ion-toolbar  >
      <div>
      <ion-buttons slot="start">
        <ion-back-button class="color"(click)="back()"></ion-back-button>
        <p class="color">INSURANCE REGISTRATION </p>
      </ion-buttons>
      
     
      </div>
     
      <div >
        <ion-title>
    <div class="title"><img class="img" class= "img"src="assets/trcar.png"></div>
    
     <div class="title2"><h1 text-align="left">Vehicle Insurance</h1></div></ion-title>
  </div>
  </ion-toolbar >
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-item (click)="new1()"lines="none">
    
      <div class="icon_box" item-start>
        <img src="assets/newcar.png">
    </div>
    
    <ion-label>   
     <p><b> Register new Vehicle</b></p>
    </ion-label>
   

  </ion-item>
  <ion-item (click)="existing2()"lines="none">
  <div class="icon_box" item-start>
    <img src="assets/excars.png">
</div>
<ion-label>   
 <p><b> Register existing Vehicle</b></p>
</ion-label>
</ion-item>

</ion-content>
