<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button class="color" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title class="color">Register Motorcycle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
  <ion-row>
   <ion-col size-md="6" offset-md="3">
<ion-card>
<ion-card-header>
  <ion-card-title><b>Enter Registration Details</b></ion-card-title>
</ion-card-header>
<ion-card-content>
  <ion-item>
    <ion-label class="label" position="floating" >Motorcycle Registration Number</ion-label>
  <ion-input  class="label" type="text" [(ngModel)]="vrno"></ion-input>
  <div *ngIf="valarr.valf1== 1">
    <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
</div>  
  </ion-item>

  <!-- <ion-item>
    <ion-label position="floating" >Your National ID</ion-label>
  <ion-input  type="number" [(ngModel)]="natid"></ion-input>
  </ion-item> -->

  <!-- <ion-item>
    <ion-label position="floating" >Vehicle Type</ion-label>
     <ion-select [(ngModel)]="vhype">
       <ion-select-option>Motorcycle</ion-select-option>
       <ion-select-option>Tuk-Tuk</ion-select-option>
     </ion-select>  
     <div *ngIf="valarr.valf8== 1">
      <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
  </div> 
  </ion-item> -->
  <ion-item>
    <ion-label class="label" position="floating" >Motorcycle Model</ion-label>
    <ion-select interface="popover"class="label" [(ngModel)]="model">
      <ion-select-option value ="Bajaj Avenger 150 Street">Bajaj Avenger 150 Street</ion-select-option>
      <ion-select-option value ="Bajaj Avenger 220 Cruise">Bajaj Avenger 220 Cruise</ion-select-option>
      <ion-select-option value ="Bajaj Avenger 220 Street">Bajaj Avenger 220 Street</ion-select-option>
      <ion-select-option value ="Bajaj Boxer 100">Bajaj Boxer 100</ion-select-option>
      <ion-select-option value ="Bajaj Boxer 150">Bajaj Boxer 150</ion-select-option>
      <ion-select-option value ="Bajaj Boxer X125">Bajaj Boxer X125</ion-select-option>
      <ion-select-option value ="Bajaj Boxer X150">Bajaj Boxer X150</ion-select-option>
      <ion-select-option value ="Bajaj CT 100">Bajaj CT 100</ion-select-option>
      <ion-select-option value ="Bajaj Discover 125">Bajaj Discover 125</ion-select-option>
      <ion-select-option value ="Bajaj Discover 150 F">Bajaj Discover 150 F</ion-select-option>
      <ion-select-option value ="Bajaj DOMINAR D400">Bajaj DOMINAR D400</ion-select-option>
      <ion-select-option value ="Bajaj PLATINA 100 ES">Bajaj PLATINA 100 ES</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar 135">Bajaj Pulsar 135</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar 150">Bajaj Pulsar 150</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar 180">Bajaj Pulsar 180</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar 220 F">Bajaj Pulsar 220 F</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar AS 150">Bajaj Pulsar AS 150</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar AS 200">Bajaj Pulsar AS 200</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar NS 150">Bajaj Pulsar NS 150</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar NS 160">Bajaj Pulsar NS 160</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar NS 200">Bajaj Pulsar NS 200</ion-select-option>
      <ion-select-option value ="Bajaj Pulsar RS 200">Bajaj Pulsar RS 200</ion-select-option>
      <ion-select-option value ="Bajaj V">Bajaj V</ion-select-option>
      

    </ion-select> 
    <div *ngIf="valarr.valf9== 1">
      <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
  </div> 
  </ion-item>
  <ion-item>
    <ion-label class="label" position="floating" >Year Of Manufacture of Vehicle</ion-label>
  <ion-input  class="label" type="number" [(ngModel)]="YOM"></ion-input>
  <div *ngIf="valarr.valf2== 1">
    <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
</div>  
  </ion-item>
  <ion-item>
    <ion-label class="label" position="floating" >Vehicle Engine Capacity(CC)</ion-label>
  <ion-input  class="label" type="number" [(ngModel)]="engine"></ion-input>
  <div *ngIf="valarr.valf3== 1">
    <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
</div>  
  </ion-item>
  <ion-item>
    <ion-label class="label" position="floating" >Motorcycle Body Type</ion-label>
    <ion-select interface="popover"class="label" [(ngModel)]="btype">
      <ion-select-option >Commuter</ion-select-option>
      <ion-select-option  >Chast</ion-select-option>
    </ion-select> 
    <div *ngIf="valarr.valf10== 1">
      <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
  </div> 
  </ion-item>
  <ion-item>
    <ion-label class="label" position="floating" >Current value of Motorcycle</ion-label>
  <ion-input class="label" type="number" [(ngModel)]="cost"></ion-input>
  <div *ngIf="valarr.valf7== 1">
    <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
</div>  
  </ion-item>
  <ion-item>
    <ion-label class="label" position="floating" >Is Vehicle on Hire Purchase?</ion-label>
    <ion-select interface="popover"class="label" [(ngModel)]="hpc">
      <ion-select-option >Yes</ion-select-option>
      <ion-select-option >No</ion-select-option>
    </ion-select> 
    <div *ngIf="valarr.valf11== 1">
      <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
  </div> 
  </ion-item>
  <ion-item>
    <ion-label class="label" position="floating" >Motorcycle Use</ion-label>
    <ion-select interface="popover"class="label" [(ngModel)]="use">
      <ion-select-option value ="Private" >Personal Use to carry own things</ion-select-option>
      <ion-select-option value = "Commercial">For Commercial Use</ion-select-option>
    </ion-select> 
    <div *ngIf="valarr.valf12== 1">
      <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
  </div> 
  </ion-item>
  <ion-card-header>
    <ion-card-title><b>Enter Owner Details</b></ion-card-title>
  </ion-card-header>
 
    <ion-item>
      <ion-label class="label" position="floating" >Owner Id</ion-label>
    <ion-input class="label" type="number" [(ngModel)]="owid"></ion-input>
    <div *ngIf="valarr.valf4== 1">
      <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
  </div>  
    </ion-item>
    <ion-item>
      <ion-label class="label" position="floating" >Owner First Name</ion-label>
    <ion-input  class="label" type="text" [(ngModel)]="owfname"></ion-input>
    <div *ngIf="valarr.valf5== 1">
      <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
  </div>  
    </ion-item>

    <ion-item>
      <ion-label class="label" position="floating" >Owner Surname</ion-label>
    <ion-input  class="label" type="text" [(ngModel)]="owsname"></ion-input>
    <div *ngIf="valarr.valf6== 1">
      <small class="error-message"><ion-icon name="information-circle"></ion-icon> &nbsp; invalid input</small> 
  </div>  
    </ion-item>
 
    <ion-button expand="block" color="white"(click)="signmeup()">SAVE </ion-button>
    <ion-button expand="block" color="white"(click)="clear()" >CLEAR</ion-button>



</ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>

