ion-card {
    border-radius:30px !important;
    }
    .error-message {

        color: var(--ion-color-danger)
    
    }

    ion-content{
    // --ion-background-color:blue;
  // background-image: 'assets/car3.jpg' ;
  --background: #fff url('../../assets/pass.jpg') no-repeat center center / cover;
  
  }

  .label {
    font-family: 'Google Sans';
    // letter-spacing: .05rem;
}

ion-button{
    background: var(--ion-color-primary-tint);
  }

.label2{
    color:white;
}