<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Policies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
The policies are 2:
<ion-button>Policies with valuation</ion-button>
<ion-button>Policies without valuation</ion-button>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
