<ion-header>
  <ion-toolbar >
    <ion-buttons class="title"slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Who are we</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h6>COMPANY NAME</h6>
  
    <p>A.I INC</p>

  </div>
  
  <div>
    <h6>Vision</h6>
  
   <p> Our vision is to become the best digital problem-solving organization in Kenya which creates customer centic applications that 
    will help boost our economy's GDP. </p>

  </div>
  <br><br>
<div>
  <h6>Our Story</h6>
 
  <p>Within our research we found out that in Kenya the overall motor insurance process is long, tedious, unfair and unreliable. This is mostly due to the brokers who may steal or hinder the insurance process to benefit them. This problem provided a need for the process of insurance to be digitized in order to eliminate the use of brokers in handling the finances in the insurance process.
 </p>
 
 <p>Therefore because of the above problem, we decided that by the end of this project that we should create an intelligent Motor vehicle  insurance system called “MV-INSURANCE” that can allow customers to register for insurance, pay the premiums through the means of their phone which will send their information and the payments directly to the insurance companies. Their information together with the machine learning concepts we have learnt will be used to also perform risk assessment of customers to decide allocation of credit for customers depending on their level of risk.
  </p>
</div>
</ion-content>
